@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Cousine:ital,wght@0,400;0,700;1,400&display=swap");

body {
	font-family: "Cousine", monospace;
	width: 100%;
	max-width: 1440px;
	margin: auto;
	line-height: 1.5;
	background-color: #090909;
	color: #2eff7b;
}

button {
	background-color: #2eff7b;
	border: none;
	outline: none;
	height: 45px;
}

button:focus {
	border: none;
	outline: none;
}

input {
	display: block;
	background: transparent;
	height: 45px;
	border: 2px solid #2eff7b;
	border-radius: 5px;
	outline: none;
	padding: 0 1rem;
	width: 100%;
}

textarea {
	display: block;
	background: transparent;
	border: 2px solid #2eff7b;
	border-radius: 5px;
	outline: none;
	padding: 0.7rem 1rem;
	width: 100%;
	height: 240px;
	resize: none;
}

.rdb-preview:hover {
	color: #2eff7b;
}
