@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Cousine:ital,wght@0,400;0,700;1,400&display=swap");

body {
	font-family: "Cousine", monospace;
	width: 100%;
	max-width: 1440px;
	margin: auto;
	line-height: 1.5;
	background-color: #090909;
	color: #2eff7b;
}

button {
	background-color: #2eff7b;
	border: none;
	outline: none;
	height: 45px;
}

button:focus {
	border: none;
	outline: none;
}

input {
	display: block;
	background: transparent;
	height: 45px;
	border: 2px solid #2eff7b;
	border-radius: 5px;
	outline: none;
	padding: 0 1rem;
	width: 100%;
}

textarea {
	display: block;
	background: transparent;
	border: 2px solid #2eff7b;
	border-radius: 5px;
	outline: none;
	padding: 0.7rem 1rem;
	width: 100%;
	height: 240px;
	resize: none;
}

.rdb-modal-backdrop {
	background: rgba(0, 0, 0, 0.5);
	z-index: 13000;
	backdrop-filter: blur(0px);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.rdb-modal-content {
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 15000;
	padding: 0;
	max-height: 90vh;
	width: 732px;
	overflow: auto;
}

.rdb-modal-content button:focus {
	background: transparent;
	color: transparent;
}

.rdb-modal-content::-webkit-scrollbar,
textarea::-webkit-scrollbar {
	width: 0.2rem;
	height: 0rem;
	border-radius: 10px;
}

@media screen and (max-width: 767px) {
	.rdb-modal-content {
		width: 100vw;
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		border: none !important;
	}

	.rdb-modal-content::-webkit-scrollbar {
		width: 0.2rem;
		height: 0rem;
		border-radius: 10px;
	}
}

.rdb-modal-show {
	transform: translate(-50%, -50%);
	opacity: 1;
	transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.rdb-modal-hide {
	transform: translate(-50%, -50%);
	opacity: 0;
	pointer-events: none;
}

.rdb-preview:hover {
	color: #2eff7b;
}
